<div class="quiz-area ui segment" ng-show="inProgress">
   <div ng-show="!quizOver">
      <form ng-submit="checkAnswer()">
         <div class="ui top attached teal label">Question X</div>
         <h2 id="question">{{question}}</h2>
         <ul id="options" class="ui vertical menu">
            <li ng-repeat="option in options">
               <label>
                  <input type="radio" name="answer" ng-value="option" 
                     class="item" ng-model="$parent.chosenanswer">
                  {{option}}
               </label>
            </li>
         </ul>
         <input type="submit" class="ui primary button"
            ng-show="answerMode" value="Submit">
      </form>

      <div ng-show="!answerMode">
         <button ng-click="nextQuestion()" 
            class="next-question ui primary button">Next</button>
         <span ng-show="correctAns">That is correct!</span>
         <span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
      </div>
   </div>

   <div ng-show="quizOver">
      <h2>Quiz is over</h2>
      <button class="ui primary button" ng-click="reset()">Play again</button>
   </div>

   <div id="score">
      Score: {{score}}
   </div>
   <div id="progress" class="ui blue progress active" data-percent="{{pcProgress | number:1}}">
      <div class="bar" style="transition-duration: 300ms; width: {{pcProgress | number:1}}%;"></div>
      <div class="label">{{pcProgress | number:0}}% Complete</div>
   </div>
</div>

<div class="intro" ng-show="!inProgress">
   <p>Welcome to the QuizApp</p>
   <button id="startQuiz" class="ui primary button" ng-click="start()">
      Start the Quiz</button>
</div>
